@use "../forward" as *;

// ブログページ

// 全記事表示。カテゴリーページバージョンもある。
// /blog/article.html
// /blog/article.html?category=カテゴリー1

// 個別投稿ページ
// /blog/article.html?page=?????
$selector-blog-article: 'article[id^="page"]';

// 過去の記事から飛べるページ。カテゴリーページバージョンもある。
// /blog/search.html
// /blog/search.html?tag=?????

// モジュール
// カテゴリーラベル
@mixin blog-category-label {
  padding: rems(3px) rems(6px) rems(2px);
  background-color: $color-blog-category-label-bg;
  font-size: rems(13px);
  @include font-family(base, medium);
  text-decoration: unset;
  line-height: 1;

  &:link,
  &:visited {
    color: $color-blog-category-label-text;
  }
}

// reboot
%blogpage-reboot {
  @at-root {
    header:nth-of-type(1) {
      background: transparent;
    }

    // 全ページ共通
    .blog {
      .wrap {
        width: 100%;
        max-width: 100%;
        margin-top: $header-blog-margin-top;
        margin-bottom: rems(100px);
        padding: 0;
        background-color: transparent;
        box-sizing: inherit;
        @include inner(1200px);

        @include media-max(drawer) {
          margin-top: $header-blog-margin-top-drawer;
        }

        @include media-max(tab) {
          flex-direction: column-reverse;
        }

        &:after {
          content: none;
        }
      }

      // サイドバー
      aside {
        flex: 0 0 30%;
        width: auto;
        min-width: 0;
        margin-right: rems(40px);
        padding: 0;
        overflow: unset;

        @include media-max(tab) {
          margin-right: 0;
        }

        & > nav {
          padding: 0;
          text-align: left;

          & > a {
            padding-right: 0;
            margin-top: rems(20px);
            text-decoration: unset;
          }
        }

        // カレンダー領域
        #calendar {
          margin: 0;
          margin-bottom: rems(25px);
        }

        // カレンダー
        #form_calendar {
          max-width: 100%;
          min-width: 0;
          box-shadow: none;
          margin: 0;
          background-color: transparent;
          text-align: end;

          .head {
            margin-bottom: rems(15px);
            height: auto;

            span {
              color: $color-text;
            }

            // 矢印
            span.prev,
            span.next {
              width: unset;
              font-size: 0 !important;
              line-height: unset;

              &:after {
                color: $color-text-grey;
                font-size: rems(16px) !important;
              }
            }

            span.prev {
              &:after {
                @include font-awesome("\f104");
              }
            }

            span.next {
              &:after {
                @include font-awesome("\f105");
              }
            }

            // 年数
            span:nth-of-type(2) {
              font-size: rems(14px);
              font-weight: 400;
              line-height: 1;
              top: auto;
              bottom: 0;
              left: rems(55px);
            }

            // 月
            span:nth-of-type(3) {
              font-weight: 400;
              font-size: rems(20px);
              line-height: 1;
              position: static;
              transform: unset;
            }

            // 月(英語)
            span:nth-of-type(4) {
              display: none;
            }
          }

          & > table {
            margin-bottom: 0;
            border-bottom: 1px solid $color-border;

            // 曜日
            & > thead > tr > th {
              font-size: rems(11px);
            }

            // 表
            & > tbody {
              & > tr {
                // 日付
                & > td {
                  border-top: 1px solid $color-border;
                  border-right: 1px solid $color-border;

                  &:hover {
                    background-color: $color-blog-calendar-bg-hover !important;
                  }

                  &:first-child {
                    background: $color-blog-calendar-holiday-bg;
                    border-left: 1px solid $color-border;
                  }

                  & > label {
                    font-size: rems(10px) !important;
                    top: rems(3px);
                    left: rems(3px);
                    line-height: 1;
                  }

                  &.open {
                    margin-top: unset;
                    background-color: $color-blog-calendar-open-bg;
                  }

                  &.close {
                    background-color: $color-blog-calendar-close-bg;
                  }

                  &.other {
                    background-color: $color-blog-calendar-other-bg !important;
                  }

                  // ブログ投稿日？本日？
                  &.blog > label {
                    height: unset;
                    background: unset;
                    border-radius: unset;
                    line-height: 1;
                    z-index: 0;

                    &:before {
                      content: "";
                      display: inline-block;
                      width: rems(10px);
                      height: rems(10px);
                      border-radius: rems(10px);
                      background-color: $color-blog-calendar-blog-bg;
                      position: absolute;
                      top: 50%;
                      left: 50%;
                      transform: translate(-50%, -50%);
                      z-index: -1;
                    }
                  }
                }
              }
            }
          }

          // 営業日、休業日
          dl.open,
          dl.close {
            display: inline-flex;
            align-items: center;
            display: none; // 表示させたい場合はコメントアウト
            margin-top: rems(10px);

            & > dt {
              line-height: 1;

              & > label {
                width: rems(18px);
                height: rems(12px);
                margin-right: rems(6px);
                font-size: unset;
                border: 1px solid $color-border;
              }
            }

            & > dd {
              line-height: 1;
            }
          }

          dl.open {
            margin-right: rems(20px);

            & > dt {
              & > label {
                background-color: $color-blog-calendar-open-bg;
              }
            }
          }

          dl.close {
            & > dt {
              & > label {
                background-color: $color-blog-calendar-close-bg;
              }
            }
          }
        }

        // 検索
        #search {
          margin-bottom: rems(50px);

          & > form {
            & > button {
              top: 50%;
              right: rems(5px);
              transform: translate(0, -50%);
            }

            & > input {
              border-radius: 0;
              border: 1px solid $color-border;
            }

            & > button {
              background-size: rems(15px);
            }
          }
        }

        // 見出し：カテゴリー、最新記事
        & > nav > div {
          color: $color-text;
          margin-bottom: rems(15px);
          padding-bottom: rems(5px);
          border-bottom: 1px solid $color-border;
          font-size: rems(16px);
          line-height: 1.2;

          &:nth-of-type(2) {
            margin-top: 0;
          }
        }

        // カテゴリー、最新記事 各記事
        .category,
        .pages {
          & > li {
            margin-bottom: rems(10px);
            padding: 0;
            border-bottom: none;

            &:first-child {
              border-top: 0;
            }
          }
        }

        // カテゴリー
        .category {
          margin-bottom: rems(40px);

          & > li {
            padding-bottom: 0;
            line-height: 1;

            &:last-child {
              margin-bottom: 0;
            }

            & > a {
              display: inline-block;
              font-size: rems(14px);
              text-decoration: unset;
              line-height: 1.2;
            }
          }
        }

        // 最新記事
        .pages {
          & > li {
            margin-bottom: rems(10px);
            text-align: left;

            & > a {
              display: inline-block;
              font-size: rems(11px);
              text-decoration: unset;
              line-height: 1.2;

              & > span {
                display: inline-block;
                margin-top: rems(5px);
                font-size: rems(14px) !important;
                text-decoration: underline;
              }
            }
          }
        }
      }

      // メインコンテンツ部分
      #contents {
        width: 100%;
        flex: 1 0 0;
        min-width: 0 !important;
        padding: unset;
        background-color: white;
        overflow: unset;

        @include media-max(tab) {
          margin-bottom: rems(80px);
        }

        & > article {
          margin-top: rems(-4px);

          @include media-max(tab) {
            margin-top: 0;
          }

          // bxi.cssでそういう作りをされているので、h2見出し全部に余白できてしまう。
          h2 {
            padding-bottom: unset;
            line-height: 1.2;
          }
        }

        // 投稿日
        .date {
          display: inline-block;
          margin-bottom: rems(10px);
          color: $color-text-grey;
          @include font-family(base, medium);
          font-size: rems(14px);
          line-height: 1;
        }

        article img {
          margin: 0;
        }
      }

      // バイリンガルのテキストが折り返すようにする。
      span[id*="TRANS_"] {
        padding-right: 0;
        overflow-wrap: break-word;
      }
    }

    // /blog
    // /blog/article.html?page=?????
    .blog #contents #{$selector-blog-article} {
      padding: 0;

      // タイトル
      & > h1 {
        margin-bottom: 0;
        padding-bottom: 0;
        color: $color-text;
        @include font-family($font-family-blog-h1, $font-weight-blog-h1);
        font-size: rems($font-size-blog-h1);
        line-height: 1.4;

        @include media-max(bp1200) {
          font-size: rems($font-size-blog-h1-bp1200);
        }

        @include media-max(tab) {
          font-size: rems($font-size-blog-h1-tab);
        }

        @include media-max(sp) {
          font-size: rems($font-size-blog-h1-sp);
        }
      }

      // カテゴリーラベル
      & > ul {
        margin-top: rems(25px);
        margin-bottom: rems(50px);

        & > li {
          margin-right: rems(10px);
          margin-bottom: rems(5px);

          &:last-child {
            margin-right: 0;
          }

          & > a {
            margin-right: 0;
            @include blog-category-label();
          }
        }
      }

      & > div {
        padding: 0;
      }

      & > dl {
        margin: 0;
        margin-bottom: rems(20px);
        padding: rems(20px);
        border: none;
        border-radius: 0;

        & > dt {
          margin: 0;
          padding: 0;
          font-size: rems(16px);
          line-height: 1.6;
          border: none;
          border-radius: 0;

          & > div {
            & > a {
              font-size: rems(16px);

              .translate {
                font-size: rems(16px);
              }
            }
          }
        }
      }

      .clearfix {
        & > li > a {
          margin-right: 0;
          line-height: 1.6;
        }
      }

      // フレックスボックスのarticleにも作用している。
      // .boxにpaddingをつけたスタイルをする際は、削除
      .box article {
        padding: 0;
      }
    }

    // /blog/search.html
    .blog #contents {
      // 投稿リスト
      & > dl {
        margin: unset;
        margin-bottom: rems(35px);
        padding: unset;
        padding-bottom: rems(40px);
        border: unset;
        border-bottom: 1px dashed $color-border;
        border-radius: unset;

        &:last-child {
          margin-bottom: 0;
          padding-bottom: 0;
          border-bottom: none;
        }

        & > dt {
          margin-bottom: 0;
          font-size: unset;
          line-height: 1.6;

          & > div {
            // ブログタイトル
            & > a {
              color: $color-text;
              text-decoration: none;
              line-height: 1.2;

              & > span {
                @include font-family($font-family-blog-h1, $font-weight-blog-h1);
                font-size: rems(20px);
              }
            }
          }

          .summary {
            // display: block !important; // 表示する際はコメントアウトを外す
            margin-top: rems(15px);
          }
        }

        // カテゴリーラベル
        & > dd {
          & > ul {
            display: flex;
            flex-wrap: wrap;
            margin-top: rems(25px);
            margin-bottom: rems(-10px);

            & > li {
              margin-right: rems(10px);
              margin-bottom: rems(10px);
              float: unset;

              & > a {
                margin: unset;
                line-height: 1;
                @include blog-category-label();
              }
            }
          }
        }
      }
    }

    // /blog/article.html?category=?????
    .blog #contents #{$selector-blog-article} {
      margin-bottom: rems(70px);
      padding-bottom: rems(70px);
      border-bottom: 1px dashed $color-border;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }
  }
}

// カスタマイズ
.page-blog {
  @extend %blogpage-reboot;

  // footer
  footer {
    background: unset;
  }

  // /blog/article.html?page=?????
  // bxi.cssと競合しているので、再度こちらで定義。
  #contents #{$selector-blog-article} {
    & h2 {
      color: $color-text;
      font-size: rems($font-size-blog-h2);
      @include font-family($font-family-blog-h2, $font-weight-blog-h2);

      @include media-max(bp1200) {
        font-size: rems($font-size-blog-h2-bp1200);
      }

      @include media-max(tab) {
        font-size: rems($font-size-blog-h2-tab);
      }

      @include media-max(sp) {
        font-size: rems($font-size-blog-h2-sp);
      }
    }

    & h3 {
      color: $color-text;
      font-size: rems($font-size-blog-h3);
      @include font-family($font-family-blog-h3, $font-weight-blog-h3);

      @include media-max(bp1200) {
        font-size: rems($font-size-blog-h3-bp1200);
      }

      @include media-max(tab) {
        font-size: rems($font-size-blog-h3-tab);
      }

      @include media-max(sp) {
        font-size: rems($font-size-blog-h3-sp);
      }
    }
  }
}
