@use "../forward" as *;

// ポリシーページ

.policy {
  h2 {
    margin-bottom: rems(9px);
    padding-bottom: rems(7px);
    font-size: rems(18px);
    border-bottom: 1px solid $color-border;
    @include font-family($font-family-h1, $font-weight-h1);
  }

  p {
    margin-bottom: rems(40px);
  }
}
