@use "../forward" as *;

// ポリシーページ

.policy {
  h2 {
    margin-bottom: em(8, 18);
    padding-bottom: em(8, 18);
    font-size: rems(18px);
    border-bottom: 1px solid $color-border;
    @include font-family(base, medium);
  }

  p {
    margin-bottom: rems(60px);
  }
}
