@use "../config/font-family" as *;

// フォントファミリー

@mixin font-family($type: base, $weight: 400) {
  font-family: map-get($font-family, $type);
  font-weight: map-get($font-weights, $weight);
}

// font-awesome
@mixin font-awesome($uni, $type: solid) {
  content: $uni;
  line-height: 1;

  // line-awesome使用時
  @if $line-awesome-enable == true {
    font-family: "Line Awesome Free";
    font-weight: 900;
  } @else {
    // font-awesome使用時
    $style: --fa-font-solid;

    @if $type == regular {
      $style: --fa-font-regular;
    }

    font: var($style);
  }
}
