@keyframes anime-graduation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 100% 0;
  }
  100% {
    background-position: 0 0;
  }
}

@mixin keyframe-graduation {
  background-size: 300% 100%;
  animation-name: anime-graduation;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
