// メディアクエリ設定
$breakpoints: (
  xsp: 0px,
  ssp: 400px,
  // BXIのスマホ
  sp: 640px,
  // BXIのタブレット
  tab: 834px,
  bp1000: 1000px,
  bp1100: 1100px,
  bp1200: 1200px,
  bp1300: 1300px,
  bp1400: 1400px,
  bp1500: 1500px,
  bp1600: 1600px,
  bp1700: 1700px,
  bp1800: 1800px,
  bp1900: 1900px,
  // ドロワー/ハンバーガー表示
  drawer: 1200px,
  // row.scss
  row: 834px,
);
