// サイトカラー設定

// ベースカラー(サイト背景色)
$color-base: white;

// メインカラー
$color-main: transparent;
$color-main-deep: darken($color-main, 10%);
$color-main-light: lighten($color-main, 10%);

// アクセントカラー
$color-accent: transparent;
$color-accent-deep: darken($color-accent, 10%);
$color-accent-light: lighten($color-accent, 10%);

// カスタム
$color-custom-1: "";
$color-custom-2: "";
$color-custom-3: "";
$color-custom-4: "";
$color-custom-5: "";

// 各カラー
$color-grey: #aaaaaa;
$color-grey-light: #f2f2f2;
$color-yellow: #ffd725;

// テキストカラー
$color-text: #222222;
$color-text-grey: #888;

// ワーニングカラー
$color-warn: red;

// 電話番号
$color-tel: $color-main;

// メール
$color-mail: $color-main;

// 各コンポーネントで使用できるカラーリスト
$color-theme-list: (
  main: $color-main,
  accent: $color-accent,
  yellow: $color-yellow,
);

// サイト全体のボーダー
$color-border: #cccccc;

// ハンバーガー
$color-hamburger: $color-text;

// ヘッダーカラー
$color-header-bg: white; // 通常時
$color-header-bg-drawer: white; // ドロワー表示幅以下時のヘッダー背景
$color-header-bg-scroll: white; // スクロール時のヘッダー背景

// ヘッダーナビゲーションのリンクカラー
$color-header-nav-link: $color-text; // 通常時
$color-header-nav-link-scroll: $color-text; // スクロール時のリンク
$color-header-nav-link-drawer: $color-text; // ドロワー表示時のリンク
$color-header-nav-link-subtitle: ""; // サブタイトル

// ドロップダウン
$color-dropdown-bg: white; // 背景
$color-dropdown-border: $color-border; // ボーダー
$color-dropdown-nav-link: $color-text; // リンク
$color-dropdown-nav-link-drawer: $color-text; // ドロワー表示時のリンク
$color-dropdown-nav-link-scroll: $color-text; // スクロール時のリンク

// ドロワー
$color-drawer-bg: white; // ドロワー背景

// フッター
$color-footer-bg: ""; // フッター背景

// お問い合わせページ
$color-form-button-positive: $color-accent; // 送信ボタン

// フッターナビゲーションのリンクテキスト
$color-footer-nav-link: $color-text;

// ブログページのカテゴリーラベル
$color-blog-category-label-bg: $color-main; // 背景
$color-blog-category-label-text: white; // テキスト

// ブログページのカレンダー
$color-blog-calendar-blog-bg: #ffd100; // ブログ投稿日？本日？背景
$color-blog-calendar-open-bg: #ffffff; // 営業日背景
$color-blog-calendar-close-bg: #efefef; // 休日背景
$color-blog-calendar-holiday-bg: #ffffff; // 祝日背景
$color-blog-calendar-other-bg: #f9f9f9; // 通常時
$color-blog-calendar-bg-hover: white; // カレンダーホバー時

// ショップページ
$color-shop-body: white; // 全体の背景
$color-shop-component-bg: #eeeeee; // コンポーネントの背景
$color-shop-input-bg: #eeeeee; // 入力欄の背景
$color-shop-tag-bg: $color-shop-component-bg; // タグの背景
$color-shop-negative: #aaaaaa; // 戻るボタンや非表示系
$color-shop-price-text: #cb3d3d; // 金額
$color-shop-button-text: #fff; // ボタンテキスト
$color-shop-button-bg: $color-main; // ボタン背景

// フォームカレンダー
$color-form-calendar-close-bg: $color-blog-calendar-close-bg; // 休日背景
$color-form-calendar-other-bg: $color-blog-calendar-other-bg; // 通常時
