// フォントサイズ

$font-size-denominator: 16px; // rems()を計算するときの分母。制作時のみ、$font-size-baseと数値を合わせる。

// ベースフォントサイズ
$font-size-base: 16px;
$font-size-base-tab: 14px;

$font-size-config: (
  h1: 60px,
  h1-top: 70px,
  h2: 44px,
  h2-top: 48px,
  h3: 36px,
  h3-top: 30px,
  h4: 28px,
  h4-top: 28px,
);

// h1
// 下層
$font-size-h1: map-get($font-size-config, h1);
$font-size-h1-bp1200: calc($font-size-h1 - 6px);
$font-size-h1-tab: calc($font-size-h1-bp1200 - 6px);
$font-size-h1-sp: calc($font-size-h1-tab - 3px);

$font-size-h1-list: (
  normal: $font-size-h1,
  bp1200: $font-size-h1-bp1200,
  tab: $font-size-h1-tab,
  sp: $font-size-h1-sp,
);

// TOPページ
$font-size-h1-top: map-get($font-size-config, h1-top);
$font-size-h1-top-bp1200: calc($font-size-h1-top - 12px);
$font-size-h1-top-tab: calc($font-size-h1-top-bp1200 - 12px);
$font-size-h1-top-sp: calc($font-size-h1-top-tab - 12px);

// h2
// 下層
$font-size-h2: map-get($font-size-config, h2);
$font-size-h2-bp1200: calc($font-size-h2 - 4px);
$font-size-h2-tab: calc($font-size-h2-bp1200 - 4px);
$font-size-h2-sp: calc($font-size-h2-tab - 2px);

$font-size-h2-list: (
  normal: $font-size-h2,
  bp1200: $font-size-h2-bp1200,
  tab: $font-size-h2-tab,
  sp: $font-size-h2-sp,
);

// TOPページ
$font-size-h2-top: map-get($font-size-config, h2-top);
$font-size-h2-top-bp1200: calc($font-size-h2-top - 6px);
$font-size-h2-top-tab: calc($font-size-h2-top-bp1200 - 6px);
$font-size-h2-top-sp: calc($font-size-h2-top-tab - 6px);

$font-size-h2-top-list: (
  normal: $font-size-h2-top,
  bp1200: $font-size-h2-top-bp1200,
  tab: $font-size-h2-top-tab,
  sp: $font-size-h2-top-sp,
);

// h3
// 下層
$font-size-h3: map-get($font-size-config, h3);
$font-size-h3-bp1200: calc($font-size-h3 - 4px);
$font-size-h3-tab: calc($font-size-h3-bp1200 - 4px);
$font-size-h3-sp: calc($font-size-h3-tab - 2px);

$font-size-h3-list: (
  normal: $font-size-h3,
  bp1200: $font-size-h3-bp1200,
  tab: $font-size-h3-tab,
  sp: $font-size-h3-sp,
);

// TOPページ
$font-size-h3-top: map-get($font-size-config, h3-top);
$font-size-h3-top-bp1200: calc($font-size-h3-top - 3px);
$font-size-h3-top-tab: calc($font-size-h3-top-bp1200 - 3px);
$font-size-h3-top-sp: calc($font-size-h3-top-tab - 3px);

$font-size-h3-top-list: (
  normal: $font-size-h3-top,
  bp1200: $font-size-h3-top-bp1200,
  tab: $font-size-h3-top-tab,
  sp: $font-size-h3-top-sp,
);

// 下層
$font-size-h4: map-get($font-size-config, h4);
$font-size-h4-bp1200: calc($font-size-h4 - 4px);
$font-size-h4-tab: calc($font-size-h4-bp1200 - 4px);
$font-size-h4-sp: calc($font-size-h4-tab - 2px);

$font-size-h4-list: (
  normal: $font-size-h4,
  bp1200: $font-size-h4-bp1200,
  tab: $font-size-h4-tab,
  sp: $font-size-h4-sp,
);

// TOPページ
$font-size-h4-top: map-get($font-size-config, h4-top);
$font-size-h4-top-bp1200: calc($font-size-h4-top - 6px);
$font-size-h4-top-tab: calc($font-size-h4-top-bp1200 - 6px);
$font-size-h4-top-sp: calc($font-size-h4-top-tab - 6px);

$font-size-h4-top-list: (
  normal: $font-size-h4-top,
  bp1200: $font-size-h4-top-bp1200,
  tab: $font-size-h4-top-tab,
  sp: $font-size-h4-top-sp,
);

// heading-list
$font-size-heading-list: (
  h1: $font-size-h1-list,
  h2: $font-size-h2-list,
  h2-top: $font-size-h2-top-list,
  h3: $font-size-h3-list,
  h3-top: $font-size-h3-top-list,
  h4: $font-size-h4-list,
  h4-top: $font-size-h4-top-list,
);

// ブログh1フォントサイズ
$font-size-blog-h1: 28px;
$font-size-blog-h1-bp1200: 26px;
$font-size-blog-h1-tab: 24px;
$font-size-blog-h1-sp: 22px;

// ブログh2フォントサイズ
$font-size-blog-h2: 24px;
$font-size-blog-h2-bp1200: 22px;
$font-size-blog-h2-tab: 20px;
$font-size-blog-h2-sp: 19px;

// ブログh3フォントサイズ
$font-size-blog-h3: 22px;
$font-size-blog-h3-bp1200: 20px;
$font-size-blog-h3-tab: 18px;
$font-size-blog-h3-sp: 18px;
