// フォントファミリー設定
$font-family: (
  base: #{"Noto Sans JP",
  sans-serif},
  main: #{"Red Hat Display",
  sans-serif,
  },
  accent: #{"Roboto",
  sans-serif},
);

// フォントウェイト設定
$font-weights: (
  thin: 100,
  light: 300,
  regular: 400,
  medium: 500,
  semibold: 600,
  bold: 700,
  black: 900,
);

// 標準フォント
$font-family-base: base;
$font-weight-base: regular;

// ヘッダーナビゲーション
$font-family-header-nav-link: base;
$font-weight-header-nav-link: regular;

// ドロップダウンナビゲーション
$font-family-dropdown-nav-link: $font-family-header-nav-link;
$font-weight-dropdown-nav-link: $font-weight-header-nav-link;

// フッターナビゲーション
$font-family-footer-nav-link: base;
$font-weight-footer-nav-link: medium;

// h1タグ
$font-family-h1: base;
$font-weight-h1: medium;

// h2タグ
$font-family-h2: $font-family-h1;
$font-weight-h2: $font-weight-h1;

// h3タグ
$font-family-h3: $font-family-h2;
$font-weight-h3: $font-weight-h2;

// h4タグ
$font-family-h4: $font-family-h2;
$font-weight-h4: $font-weight-h2;

// ブログページのh1タグ
$font-family-blog-h1: $font-family-h2;
$font-weight-blog-h1: $font-weight-h2;

// ブログページのh2タグ
$font-family-blog-h2: $font-family-h2;
$font-weight-blog-h2: $font-weight-h2;

// ブログページのh3タグ
$font-family-blog-h3: $font-family-h2;
$font-weight-blog-h3: $font-weight-h2;

// line-awesome使用時
$line-awesome-enable: true;
