// フォントサイズ

$font-size-denominator: 16px; // rems()を計算するときの分母。制作時のみ、$font-size-baseと数値を合わせる。

// ベースフォントサイズ
$font-size-base: 16px;
$font-size-base-tab: 14px;

// h1フォントサイズ
$font-size-h1: 60px;
$font-size-h1-tab: 48px;
$font-size-h1-sp: 38px;

// h2フォントサイズ
$font-size-h2: 36px;
$font-size-h2-tab: 30px;
$font-size-h2-sp: 26px;

// h3フォントサイズ
$font-size-h3: 26px;
$font-size-h3-tab: 20px;
$font-size-h3-sp: 18px;

// h4フォントサイズ
$font-size-h4: 19px;
$font-size-h4-tab: 17px;
$font-size-h4-sp: 15px;

// ブログh1フォントサイズ
$font-size-blog-h1: 28px;
$font-size-blog-h1-tab: 24px;

// ブログh2フォントサイズ
$font-size-blog-h2: 24px;
$font-size-blog-h2-tab: 20px;

// ブログh3フォントサイズ
$font-size-blog-h3: 20px;
$font-size-blog-h3-tab: 16px;
