// z-index
$z-fixed: 800;
$z-header: 900;
$z-drawer: 1000;
$z-hamburger: 1100;
$z-header-logo: 2000;

// transition
$transition-duration: 0.4s;

// 固定ヘッダー用マージン
//// ヘッダーとコンテンツが被らないようにするためのマージン
$have-header-margin-top: true; ////// trueにすると#contents_wrapの上方向にマージントップを付ける

//// 全ページ
$header-margin-top: 90px; ////// 全ページのマージントップ
$header-margin-top-drawer: 78px; ////// 全ページのマージントップ(drawerブレイクポイント時)
$header-margin-top-sp: 78px; ////// 全ページのマージントップ(spブレイクポイント時)

//// お問い合わせ
$header-contact-margin-top: 220px; ////// お問い合わせページのマージントップ
$header-contact-margin-top-drawer: 110px; ////// お問い合わせページのマージントップ(drawerブレイクポイント時)
$header-contact-margin-top-sp: 110px; ////// 全ページのマージントップ(spブレイクポイント時)

//// ショップページ
////// ショップのマージントップ(ショッピングがある場合は、+2pxするとヘッダーと被らない)
$header-shop-margin-top-margin: 2px;
$header-shop-margin-top: calc($header-margin-top + $header-shop-margin-top-margin);

////// ショップのマージントップ(drawerブレイクポイント時)
$header-shop-margin-top-drawer: calc($header-margin-top + $header-shop-margin-top-margin);

////// ショップのマージントップ(spブレイクポイント時)
$header-shop-margin-top-sp: calc($header-margin-top + $header-shop-margin-top-margin);

//// ブログページ
$header-blog-margin-top: $header-contact-margin-top; ////// ブログページのマージントップ
$header-blog-margin-top-drawer: $header-contact-margin-top-drawer; ////// ブログページのマージントップ(drawerブレイクポイント時)

// サイドバー使用時、trueにする
$has-sidebar: false;

// 角丸
$border-radius-list: (
  small: 5px,
  medium: 10px,
  large: 15px,
);
