// ページインナーサイズ
$inner-global: 1600px;

// インナーサイズ
$inner-size: 1280px; // 1200px以上のときのインナーサイズ
$inner-size-bp1200: 1000px; // 1200px以下のときのインナーサイズ
$inner-size-bp1000: 834px; // 834px以下のときのインナーサイズ
$inner-size-tab: 640px; // 640px以下のときのインナーサイズ
$inner-size-sp: 375px; // 375px以下のときのインナーサイズ

// inner-padding
$inner-padding: 40px; // 画面サイドの余白
$inner-padding-sp: 20px; // 画面サイドの余白(sp時)

$inners: (
  600: 600px,
  700: 700px,
  800: 800px,
  900: 900px,
  1000: 1000px,
  1100: 1100px,
  1200: 1200px,
  1300: 1300px,
  1400: 1400px,
  1500: 1500px,
  1600: 1600px,
  1920: 1920px,
);
