// font-size
$font-size-base: 1rem;
$font-size-base-tab: 0.875rem;

$font-size-h1: 48px;
$font-size-h1-tab: 32px;

$font-size-h2: 48px;
$font-size-h2-tab: 32px;

$font-size-h3: 26px;
$font-size-h3-tab: 20px;

$font-size-blog-h1: 28px;
$font-size-blog-h1-tab: 24px;

$font-size-blog-h2: 24px;
$font-size-blog-h2-tab: 20px;

$font-size-blog-h3: 20px;
$font-size-blog-h3-tab: 16px;
