@use "../forward" as *;

// バックグランド

.bg-repeat-no {
  background-repeat: no-repeat;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attach-fixed {
  background-attachment: fixed;
}

.bg-position-center {
  background-position: center center;
}

.bg-overlay-white {
  position: relative;
  z-index: 0;

  &:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(white, 0.75);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
}
