// バックグランド

.bg-repeat-no {
  background-repeat: no-repeat;
}

.bg-size-cover {
  background-size: cover;
}

.bg-attach-fixed {
  background-attachment: fixed;
}

.bg-position-center {
  background-position: center;
}
