@use "../forward" as *;

// 改行

@each $dimension, $breakpoint in $breakpoints {
  $infix: if($breakpoint == 0px, null, -#{$dimension});

  // $infix以下の場合、改行される
  .br-max#{$infix} {
    display: none;

    @include media-max($dimension) {
      display: block;
    }
  }

  // $infix以上の場合、改行される
  .br-min#{$infix} {
    display: none;

    @include media-min($dimension) {
      display: block;
    }
  }
}
