@use "../forward" as *;

// 表示・非表示

@each $dimension, $breakpoint in $breakpoints {
  $infix: if($breakpoint == 0px, null, -#{$dimension});

  // $infix以下の場合、非表示
  .display-none-max#{$infix} {
    display: block;

    @include media-max($dimension) {
      display: none !important;
    }
  }

  // $infix以上の場合、非表示
  .display-none-min#{$infix} {
    display: block;

    @include media-min($dimension) {
      display: none !important;
    }
  }
}
