@use "../forward" as *;

// インナーサイズ

// 親のwidthはみ出して表示する。
.inner-full {
  margin-right: calc(50% - 50vw) !important;
  margin-left: calc(50% - 50vw) !important;
}

.inner-full-right {
  margin-right: calc(50% - 50vw) !important;
}

.inner-full-left {
  margin-left: calc(50% - 50vw) !important;
}

// インナー設定しない
.inner-only-side-padding {
  padding-right: $inner-padding;
  padding-left: $inner-padding;

  @include media-max(sp) {
    padding-right: $inner-padding-sp;
    padding-left: $inner-padding-sp;
  }
}

// config/innerで設定したインナーサイズ
.inner-global {
  @include inner($inner-global);
}

@each $key, $inner in $inners {
  .inner-#{$key} {
    @include inner($inner);
  }
}

// ページ全体のinnerサイズ
@each $key, $inner in $inners {
  .page-inner-#{$key} {
    #main {
      @include inner($inner);
    }
  }

  .inner-#{$key} {
    @include inner($inner);
  }
}
