@use "../forward" as *;

// リブートCSS

html {
  font-size: $font-size-base;

  @include media-max(tab) {
    font-size: $font-size-base-tab;
  }
}

body {
  color: $color-text;
  background-color: $color-base;
  font-size: inherit;
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  overflow-x: hidden;
}

* {
  letter-spacing: $letter-spacing;
}

// bxi.css上書き用
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  @include font-family($font-family-base, $font-weight-base);
}

body *:not(i, b) {
  /* 
  font-weightは<b>タグが機能しなくなるので指定しない。
  line-heightは余計に高さが効いてしまうので指定しない。 => bxi.cssで効いてる可能性あり。
  */
}

#contents {
  background-color: $color-base;
}

// 固定ヘッダー用マージン
// ヘッダーとコンテンツが被らないようにするためのマージン
#contents_wrap {
  @if $have-header-margin-top == true {
    margin-top: $header-margin-top;

    @include media-max(drawer) {
      margin-top: $header-margin-top-drawer;
    }

    @include media-max(tab) {
      margin-top: $header-margin-top-tab;
    }

    @include media-max(sp) {
      margin-top: $header-margin-top-sp;
    }
  }
}

// お問い合わせページの上余白
.page-form-error,
.page-form-confirm,
.page-form-complete {
  #contents_wrap {
    margin-top: $header-contact-margin-top !important;

    @include media-max(drawer) {
      margin-top: $header-contact-margin-top-drawer !important;
    }

    @include media-max(tab) {
      margin-top: $header-contact-margin-top-tab !important;
    }

    @include media-max(sp) {
      margin-top: $header-contact-margin-top-sp !important;
    }
  }
}

// shopページの固定ヘッダー用マージン
.page-shop {
  #contents_wrap {
    @if $have-header-margin-top == true {
      margin-top: $header-shop-margin-top;

      @include media-max(drawer) {
        margin-top: $header-shop-margin-top-drawer;
      }

      @include media-max(tab) {
        margin-top: $header-shop-margin-top-tab;
      }

      @include media-max(sp) {
        margin-top: $header-shop-margin-top-sp;
      }
    }
  }
}

img {
  vertical-align: baseline;
}

a {
  transition: $transition-duration;
  overflow-wrap: break-word;

  &:hover {
    opacity: 0.7;
    transition: $transition-duration;
  }
}

input,
textarea,
select {
  @include font-family(base, regular);
}
