@use "../forward" as *;

// リブートCSS

html {
  font-size: $font-size-base;

  @include media-max(tab) {
    font-size: $font-size-base-tab;
  }
}

body {
  color: $color-text;
  background-color: $color-body-bg;
  font-size: inherit;
  @include font-family($font-family-base, $font-weight-base);
  letter-spacing: $letter-spacing;
  line-height: $line-height;
  overflow-x: hidden;
}

body *:not(i, b) {
  /* 
  font-weightは<b>タグが機能しなくなるので指定しない。
  line-heightは余計に高さが効いてしまうので指定しない。 => bxi.cssで効いてる可能性あり。
  */
}

#contents {
  background-color: $color-body-bg;
}

// 固定ヘッダー用マージン
#contents_wrap {
  @if $have-header-margin-top == true {
    margin-top: $header-margin-top;

    @include media-max(drawer) {
      margin-top: $header-margin-top-drawer;
    }
  }
}

img {
  vertical-align: baseline;
}

a {
  transition: $transition-duration;
  overflow-wrap: break-word;

  &:hover {
    opacity: 0.7;
    transition: $transition-duration;
  }
}

input,
textarea,
select {
  @include font-family(base, regular);
}
