@use "../forward" as *;

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;

  &__li {
    margin-right: rems(10px);
    line-height: 1;

    &:last-child {
      margin-right: 0;
    }
  }

  &__divide {
    margin-right: rems(10px);
    font-size: rems(14px);
  }

  &__link {
    display: inline-block;
    margin-bottom: rems(3px);
    font-size: rems(14px);
    @include font-family(main, regular);
  }
}
