@use "../forward" as *;

.column {
  padding: rems(50px) rems(20px) rems(40px);
  border: 1px solid $color-main;
  border-radius: rems(10px);
  position: relative;
  z-index: 0;

  &__label {
    display: inline-block;
    padding: rems(8px) rems(30px);
    color: $color-main;
    background-color: white;
    @include font-family(main, medium);
    font-size: rems(24px);
    border: 1px solid $color-main;
    border-radius: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
  }
}
