@use "../forward" as *;

.column {
  padding: rems(30px) rems(20px) rems(20px);
  border: 1px solid $color-main;
  position: relative;
  z-index: 0;

  & > article > h3 {
    display: inline-block;
    padding: rems(9px) rems(20px);
    color: white;
    background-color: $color-main;
    @include font-family(base, medium);
    font-size: rems(16px);
    border-radius: 100vh;
    position: absolute;
    top: 0;
    left: rems(15px);
    transform: translate(0, -50%);
  }
}
