@use "../forward" as *;

.cta {
  justify-content: center;

  &__link {
    display: block;
    padding: em(15, 16);
    text-align: center;
    text-decoration: none;

    &:after {
      @include font-awesome("\f105");
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: 0;
      height: 0;
      padding: 20px;
      color: white;
      background-color: $color-accent;
      border-radius: 100%;
    }
  }

  &__title {
    margin-bottom: em(15, 16);
    padding-bottom: em(15, 16);
    border-bottom: 1px solid $color-border;
  }

  .box {
    background-color: white;

    & > article {
      display: flex;
      height: 100%;
      //   align-items: center;
    }

    & > article > a {
      flex: 0 0 50%;
    }

    & > article > a > img {
      height: 100% !important;
      object-fit: cover;
      vertical-align: bottom;
    }

    & > article > h3 {
      display: none;
    }

    & > article > div {
      flex: 1 0 0;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

.cta-title {
  text-align: center;

  &__sub {
    margin-bottom: em(11, 14);
    color: $color-main;
    font-size: rems(14px);
  }

  &__main {
    margin-bottom: em(11, 20);
    color: $color-main;
    font-size: rems(20px);

    @include media-max(bp1200) {
      font-size: rems(16px);
    }
  }
}
