@use "../forward" as *;

// dpdn = dropdown
%dpdn-reset {
  .dropdown {
    &__list {
      list-style: none;
    }
  }
}

.dropdown {
  @extend %dpdn-reset;
  position: relative;
  z-index: 0;

  // hover時
  @include media-min(drawer) {
    &:hover {
      .dropdown {
        &__list {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  &__parent-link {
    color: $color-header-nav-link;
    transition: $transition-duration;

    @include media-max(drawer) {
      color: $color-dropdown-nav-link-drawer !important;
    }
  }

  &__wrapper {
    padding: rems(20px);
    background-color: $color-dropdown-bg;
    box-shadow: 0 0 5px rgba(black, 0.1);

    @include media-max(drawer) {
      background-color: transparent;
      padding: 0;
      box-shadow: none;
    }
  }

  &__list {
    width: 100%;
    min-width: max-content;
    padding-top: rems(20px);
    height: auto;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    transition: $transition-duration;

    @include media-max(drawer) {
      display: block;
      width: 100%;
      margin-top: rems(30px);
      padding-top: 0;
      transform: unset;
      position: static;
      transition: $transition-duration;
    }
  }

  // ドロワーオープン時
  @at-root .js-drawer-open .dropdown {
    &__list {
      opacity: 1;
      visibility: visible;
    }
  }

  &__item {
    margin-bottom: rems(10px);
    padding-bottom: rems(10px);
    text-align: center;
    border-bottom: 1px dotted $color-dropdown-border;

    @include media-max(drawer) {
      margin-bottom: rems(30px);
      padding-bottom: 0;
      border-bottom: none;
      text-align: left;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  &__link {
    @include font-family($font-family-dropdown-nav-link, $font-weight-dropdown-nav-link);
    font-size: rems(15px);
    text-decoration: none;

    @include media-max(drawer) {
      display: inline-flex;
      align-items: center;
      font-size: rems(16px);
    }

    &:link,
    &:visited {
      color: $color-dropdown-nav-link;

      @include media-max(drawer) {
        color: $color-dropdown-nav-link-drawer;
      }
    }

    &:before {
      @include media-max(drawer) {
        content: "";
        display: inline-block;
        width: rems(7px);
        height: rems(7px);
        margin-right: rems(9px);
        background-color: $color-border;
        border-radius: rems(7px);
      }
    }
  }

  @at-root .js-change-header-bg {
    .dropdown {
      &__parent-link {
        color: $color-dropdown-nav-link-scroll;
        transition: $transition-duration;
      }
    }
  }
}
