@use "../forward" as *;

.flow {
  counter-reset: flow 0;

  &__item {
    counter-increment: flow 1;

    &:before {
      content: counter(flow, decimal-leading-zero);
      flex: 0 0 auto;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rems(80px);
      height: rems(80px);
      margin-right: rems(60px);
      color: $color-main;
      background-color: white;
      @include font-family(main, semibold);
      font-size: rems(36px);
      border: 3px solid $color-main;
      border-radius: rems(80px);

      @include media-max(sp) {
        width: rems(60px);
        height: rems(60px);
        margin-right: rems(30px);
        font-size: rems(26px);
        border-radius: rems(60px);
      }
    }

    &:after {
      content: "";
      display: inline-block;
      width: 1px;
      height: 100%;
      background-color: $color-main;
      position: absolute;
      bottom: 0;
      left: 43px;
      z-index: -1;

      @include media-max(tab) {
        left: 38px;
      }

      @include media-max(sp) {
        left: 29px;
      }
    }

    &:last-child:after {
      content: none;
    }
  }
}

.flow-item {
  display: flex;
  padding-bottom: rems(70px);
  position: relative;
  z-index: 0;

  &:last-child {
    padding-bottom: 0;
  }

  &__wrapper {
    flex: 1 0 0;
    align-items: flex-start;
  }

  &__title {
    @include font-family(base, medium);
  }

  &__text {
    padding: rems(20px);
    background-color: #f3f3f3;
    border-radius: rems(5px);
  }
}
