@use "../forward" as *;

// ハンバーガー

%hamburger-reboot {
  // 常時ドロワー表示のときは以下をコメントアウト
  display: none;
}

.hamburger {
  @extend %hamburger-reboot;
  width: rems(35px);
  height: rems(30px);
  position: relative;
  z-index: $z-hamburger;

  @include media-max(drawer) {
    display: inline-block;
    z-index: $z-hamburger;
  }

  &__line {
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 1px;
    background-color: $color-hamburger;
    transition: $transition-duration;
  }

  .line1 {
    transform: translate(0, -7px);
  }

  .line2 {
    transform: translate(0, 0px);
  }

  .line3 {
    transform: translate(0, 7px);
  }
}

.js-drawer-open {
  .hamburger {
    .line1 {
      transform: translateY(0px) rotate(-35deg);
    }

    .line2 {
      opacity: 0;
      visibility: hidden;
    }

    .line3 {
      transform: translateY(-2px) rotate(35deg);
    }
  }
}
