@use "../forward" as *;

// 見出し

h1 {
  @include font-size(h1);
  @include font-family($font-family-h1, $font-weight-h1);
  line-height: 1.5;
}

h2 {
  @include font-size(h2);
  @include font-family($font-family-h2, $font-weight-h2);
  line-height: 1.5;
}

h3 {
  @include font-size(h3);
  @include font-family($font-family-h3, $font-weight-h3);
  line-height: 1.5;
}

h4 {
  @include font-size(h4);
  @include font-family($font-family-h4, $font-weight-h4);
  line-height: 1.5;
}

.heading-dot {
  position: relative;
  padding-left: 1.5em;

  &:before {
    content: "";
    display: inline-block;
    width: 0.6em;
    height: 0.6em;
    background-color: $color-main;
    border-radius: 0.6em;
    position: absolute;
    top: 0.28em;
    left: 0;
  }

  @each $color, $code in $color-theme-list {
    &--#{$color} {
      &:before {
        background-color: $code;
      }
    }
  }
}

.heading-bg {
  padding: 0.4em 1em 0.5em 1.2em;
  background-color: $color-main;
  border-radius: rems(4px);

  * {
    color: white;
  }

  @each $color, $code in $color-theme-list {
    &--#{$color} {
      background-color: $code;
    }
  }
}

.heading-border-bottom {
  padding-bottom: 0.4em;
  border-bottom: 1px solid $color-main;

  @each $color, $code in $color-theme-list {
    &--#{$color} {
      border-bottom: 1px solid $code;
    }
  }
}
