@use "../forward" as *;

h1 {
  font-size: rems($font-size-h1);
  @include font-family($font-family-h1, $font-weight-h1);
  letter-spacing: 0.07em;

  @include media-max(tab) {
    font-size: rems($font-size-h1-tab);
  }
}

h2 {
  font-size: rems($font-size-h2);
  @include font-family($font-family-h2, $font-weight-h2);
  letter-spacing: 0.07em;

  @include media-max(tab) {
    font-size: rems($font-size-h2-tab);
  }
}

h3 {
  font-size: rems($font-size-h3);
  @include font-family($font-family-h3, $font-weight-h3);
  letter-spacing: 0.07em;

  @include media-max(tab) {
    font-size: rems($font-size-h3-tab);
  }
}

// .heading-fadein-animation {
//   overflow: hidden;

//   .js-span {
//     display: inline-block;
//     transform: translate(0, 100%);
//   }

//   &.js-arrive-in .js-span {
//     animation: fade-in 0.5s ease forwards;
//   }
// }

.heading-sub-title {
  &__main {
    margin-bottom: em(17px, 46px);
    color: $color-main;
    @include font-family(main, bold);
    font-size: rems(46px);
    line-height: 1;

    &:after {
      content: "";
      display: block;
      width: rems(50px);
      height: rems(3px);
      margin-top: rems(9px);
      background-color: $color-main;
      border-radius: 100vh;
    }
  }

  &__sub {
    color: $color-custom-3;
    @include font-family(main, medium);
    font-size: rems(22px);
    line-height: 1.2;
  }

  &__border {
    display: inline-block;
    height: auto;
    line-height: 0;

    &:after {
      content: "";
      display: inline-block;
      width: rems(130px);
      height: rems(4px);
      background-image: $color-custom-2;
      border-radius: rems(2px);
    }
  }
}
