@use "../forward" as *;

.history {
  display: flex;
  align-items: flex-start;

  &__number {
    flex: 0 0 rems(90px);
    padding-top: rems(5px);
    color: $color-main;
    font-size: rems(22px);
    line-height: 1.1;
  }

  &__body {
    flex: 0 0 70%;
    margin-left: rems(45px);
    padding-top: rems(5px);
    padding-bottom: rems(60px);
    padding-left: rems(55px);
    position: relative;

    @include media-max(tab) {
      margin-left: rems(15px);
      padding-left: rems(35px);
    }

    &:before,
    &:after {
      content: "";
      display: inline-block;
      background-color: $color-accent;
      position: absolute;
    }

    &:before {
      width: rems(13px);
      height: rems(13px);
      border-radius: rems(13px);
      top: rems(10px);
      left: 0;
    }

    &:after {
      width: 1px;
      height: 100%;
      top: rems(14px);
      left: rems(6px);
      visibility: visible;
    }
  }
}
