@use "../forward" as *;

// ラベル

.label {
  display: inline-block;
  padding: 0.5em 1em 0.4em;
  color: white;
  background-color: $color-accent;
  font-size: rems(16px);
  @include font-family(main, bold);
  border-radius: 100vh;
  line-height: 1;

  @each $color, $code in $color-theme-list {
    &--#{$color} {
      background-color: $code;
    }
  }
}

// 吹き出し
.label-speech-bubble {
  display: inline-block;
  margin-bottom: rems(5px);
  padding: rems(11px) rems(20px);
  color: white;
  background-color: $color-accent;
  @include font-family(accent, bold);
  border-radius: rems(4px);
  position: relative;
  z-index: 0;

  &:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 5px solid $color-accent;
    border-bottom: 0;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
  }
}
