@use "../forward" as *;

.media-text {
  &__inner {
    display: flex;
    align-items: center;

    @include media-max(tab) {
      display: block;
    }
  }

  &__wrapper {
    flex: 1 0 0;
  }

  &__image {
    flex: 0 0 percentage(div(550, 1200));
    margin-right: rems(50px);

    @include media-max(tab) {
      flex: 0 0 100%;
      margin-right: 0;
      margin-bottom: rems(40px);
    }

    img {
      width: 100% !important;
      height: auto !important;
      border-radius: 0 rems(60px) 0 rems(60px);

      @include media-max(tab) {
        border-radius: 0 rems(30px) 0 rems(30px);
      }
    }
  }

  &__text {
    div {
      line-height: div(22.4, 16);
    }
  }

  &--reverse {
    .media-text {
      &__inner {
        flex-direction: row-reverse;
      }

      &__image {
        margin-right: 0;
        margin-left: rems(50px);

        @include media-max(tab) {
          margin-left: 0;
        }
      }
    }
  }
}
