@use "../forward" as *;

// メディア型

%media-text__inner {
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include media-max(tab) {
    display: block;
  }
}

%media-text--reverse__inner {
  flex-direction: row-reverse;
}

%media-text__image {
  @include media-max(tab) {
    width: 100% !important;
    margin-bottom: rems(70px) !important;
    text-align: center;

    @include media-max(tab) {
      margin-bottom: rems(50px) !important;
    }
  }

  img {
    height: auto !important;
    margin-right: auto;
    float: none;
  }
}

%media-text__wrapper {
  flex: 1 0 0;
  margin-left: percentage(div(100, 1200));

  @include media-max(bp1200) {
    margin-left: rems(70px);
  }

  @include media-max(tab) {
    margin-left: 0;
  }
}

%media-text--reverse__wrapper {
  margin-left: 0;
  margin-right: percentage(div(100, 1200));

  @include media-max(bp1200) {
    margin-right: rems(70px);
  }

  @include media-max(tab) {
    margin-right: 0;
  }
}

// 通常のメディア型
.media-text {
  &__inner {
    @extend %media-text__inner;
  }

  &__wrapper {
    @extend %media-text__wrapper;
  }

  &__image {
    @extend %media-text__image;

    flex: 0 0 50%;
  }

  &__gallery {
    @extend %media-text__image;

    width: 50%;
  }

  &--reverse & {
    &__inner {
      @extend %media-text--reverse__inner;
    }

    &__wrapper {
      @extend %media-text--reverse__wrapper;
    }
  }
}

// 画像がフルワイドのデザイン
.media-text-image-full {
  &__inner {
    @extend %media-text__inner;
  }

  &__wrapper {
    @extend %media-text__wrapper;
  }

  &__image {
    @extend %media-text__image;

    width: 50vw;
    margin-left: calc(50% - 50vw);

    @include media-max(tab) {
      margin-left: 0;
    }
  }

  // 株式会社八ッ場ふるさと館
  // yanbamarket.html
  &__gallery {
    @extend %media-text__image;

    width: 50%;
  }

  &--reverse & {
    &__inner {
      @extend %media-text--reverse__inner;
    }

    &__wrapper {
      @extend %media-text--reverse__wrapper;
    }

    &__image {
      margin-right: calc(50% - 50vw);
      margin-left: 0;

      @include media-max(tab) {
        margin-right: 0;
      }
    }
  }
}

// 画像とテキストが重なっているデザイン
.media-text-overlap {
  &__inner {
    @extend %media-text__inner;
  }

  &__wrapper {
    flex: 1 0 0;
    margin-right: rems(-50px);
    padding: rems(60px) rems(50px);
    background-color: white;
    box-shadow: 4px 4px 6px 0 rgba(black, 0.08);
    border-radius: rems(20px);
    position: relative;
    z-index: 1;

    @include media-max(tab) {
      width: calc(100% - rems(40px));
      margin-top: rems(-30px);
      margin-right: auto;
      margin-left: auto;
      padding: rems(60px) rems(30px);
    }
  }

  &__image {
    @extend %media-text__image;

    flex: 0 0 percentage(div(650, 1200));
    margin-left: rems(-50px);

    @include media-max(tab) {
      margin-left: 0;
    }
  }

  &--reverse & {
    &__inner {
      @extend %media-text--reverse__inner;
    }
  }
}
