@use "../forward" as *;

// メディア型

%media-text__image {
  img {
    height: auto !important;
    margin-right: auto;
    float: none;
  }
}

// 通常のメディア型
.media-text {
  &__image {
    @extend %media-text__image;
  }
}

.media-text-image-full {
  &__image {
    @extend %media-text__image;

    img {
      border-radius: 0 rems($border-radius-large) rems($border-radius-large) 0;
    }
  }
}
