@use "../forward" as *;

// メガフォン

@each $name, $code in $color-theme-list {
  $code: if($code == "", #333, $code);

  .megaphone-#{$name} {
    display: inline-flex;
    align-items: flex-end;

    &:before,
    &:after {
      content: "";
      width: 0.2em;
      height: 2.5em;
      border-radius: 100vh;
      background-color: $code;
    }

    &:before {
      margin-right: 1.2em;
      transform: rotate(-15deg);
    }

    &:after {
      margin-left: 1.2em;
      transform: rotate(15deg);
    }
  }
}
