@use "../forward" as *;

// 下層ページヘッダー
.mv-sub {
  position: relative;
  z-index: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background: rgb(243, 252, 255);
  background: linear-gradient(
    -45deg,
    rgba(243, 252, 255, 1) 0%,
    rgba(244, 250, 255, 1) 28%,
    rgba(235, 252, 255, 1) 53%,
    rgba(246, 253, 255, 1) 78%,
    rgba(236, 251, 255, 1) 100%
  );
  position: relative;
  z-index: 0;

  &__en {
    margin-bottom: rems(20px);
    color: $color-main;
    @include font-family(accent, medium);
    font-size: rems(60px);
    line-height: 1;
  }

  &__ja {
    font-size: rems(18px);
    @include font-family(main, medium);
  }
}
