@use "../forward" as *;

// snsのリセット
%sns-reboot {
  .sns_list {
    border: none;

    &__list {
      display: block;
      border-bottom: none;
      border: none;
    }

    & > div {
      border-bottom: none;
    }

    .sns_photo {
      width: 100%;
      padding: 0;

      a {
        display: block;
      }
    }

    .sns_text {
      width: 100%;
      padding: 0;
      font-size: rems(16px);

      .caption {
        word-break: break-all;
      }

      ul {
        display: none;
      }
    }
  }
}

.sns {
  @extend %sns-reboot;
}

.sns-image {
  @extend %sns-reboot;

  .sns_list {
    & > div {
      .sns_photo {
        & > a {
          @include aspect-ratio(1, 1);
        }
      }

      .sns_text {
        display: none;
      }
    }
  }
}

.sns-gallery {
  @extend %sns-reboot;

  --gutter-y: 60px;

  .sns_list {
    & > div {
      display: block;
    }

    .sns_photo {
      margin-bottom: rems(15px);

      & > a {
        @include aspect-ratio(1, 1);
      }

      img {
        object-fit: cover;
      }
    }

    .sns_date {
      margin-bottom: rems(5px);
      color: $color-main;
      font-size: rems(24px);
      @include font-family(main, medium);
    }

    .sns_text {
      font-size: rems(16px);
    }
  }
}

.sns-card {
  @extend %sns-reboot;

  @include media-max(sp) {
    --gutter-y: 40px;
  }

  .sns_list {
    & > div {
      display: block;

      .sns_photo {
        margin-bottom: rems(18px);

        & > a {
          @include aspect-ratio(1, 1);
        }
      }

      .sns_date {
        display: none;
      }
    }
  }
}

.sns-slider {
  @extend %sns-reboot;

  .sns_list {
    display: block;

    .sns_photo {
      margin-bottom: rems(20px);

      & > a {
        @include aspect-ratio(4, 3);
      }

      img {
        object-fit: cover;
      }
    }

    .sns_text {
      .sns_date {
        display: none;
      }
    }
  }

  .slick-list {
    display: block;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto !important;
    margin-right: rems(20px);
    margin-left: rems(20px);
  }
}
