@use "../forward" as *;

// フッター

// 上方向に余白
.page-footer-margin-top footer#global_footer {
  margin-top: rems(100px);

  @include media-max(tab) {
    margin-top: rems(80px);
  }
}

.copyright {
  display: block;
  padding-top: rems(12px);
  padding-bottom: rems(12px);
  font-size: rems(14px);
  text-align: center;
}
