@use "../forward" as *;

// ヘッダー

.header {
  width: 100%;
  padding: rems(20px) rems(40px);
  background-color: $color-header-bg;
  top: 0;
  left: 0;
  position: fixed;
  z-index: $z-header;
  transition: $transition-duration;

  @include media-max(drawer) {
    padding: rems(15px) rems(20px);
    background-color: $color-header-bg-drawer !important;
  }

  @at-root .js-scrolled-header & {
    background-color: lighten($color-header-bg-scroll, 10%);
    transition: $transition-duration;

    @include media-max(drawer) {
      padding: rems(15px) rems(20px);
      background-color: $color-header-bg-scroll;
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__nav {
    margin-right: rems(30px);

    @include media-max(drawer) {
      margin-right: 0;
    }
  }
}

.header-logo {
  display: inline-block;
  margin-right: rems(20px);
  text-decoration: none;
  line-height: 1;
  position: relative;
  z-index: $z-header-logo;

  @include media-max(bp1400) {
    max-width: rems(200px);
  }

  @include media-max(tab) {
    max-width: rems(180px);
  }
}

.header-contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  transition: $transition-duration;

  &.js-arrive-in-out {
    @include media-max(drawer) {
      opacity: 0;
      visibility: hidden;
      transition: $transition-duration;
    }
  }

  &__item {
    margin-right: rems(20px);

    &:last-child {
      margin-right: 0;
    }
  }
}

.js-cloned-header-contact {
  flex-wrap: wrap;
  justify-content: unset;
  margin-bottom: rems(-20px);

  .header-contact {
    &__item {
      min-width: 0;
      flex: 0 0 calc((100% - rems(15px)) / 2);
      margin-right: rems(15px);
      margin-bottom: rems(20px);

      @include media-max(sp) {
        flex: 0 0 100%;
        margin-right: 0;
      }

      &:nth-child(2n) {
        margin-right: 0;
      }

      &:last-child {
        @include media-max(sp) {
          margin-bottom: 0;
        }
      }
    }
  }
}
