@use "../forward" as *;

%blog-reboot {
  .blog_list {
    border: none;

    & > div {
      display: block;
      border-bottom: none;
    }

    .blog_photo {
      width: 100%;
      padding: 0;
    }

    .blog_text {
      width: 100%;
      padding: 0;
      font-size: rems(16px);

      h3 {
        margin-bottom: 0;
        font-size: rems(16px);
      }
    }

    .detail {
      margin-top: 0;
    }
  }
}

.blog-news {
  @extend %blog-reboot;

  padding: rems(30px) rems(20px);
  border: 1px solid $color-border;

  .blog_list {
    max-height: 250px;
    @include scroll-bar();
    overflow-y: auto;

    & > div {
      margin-bottom: rems(12px);
      padding-bottom: rems(15px);
      border-bottom: 1px dotted $color-border;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }
    }

    .blog_photo {
      display: none;
    }

    .blog_text {
      display: flex;

      @include media-max(tab) {
        display: block;
      }
    }

    .blog_date {
      margin-right: rems(17px);
      color: $color-text;
      @include font-family(main, medium);
      font-size: rems(15px);

      @include media-max(tab) {
        margin-right: 0;
      }
    }

    .detail {
      font-size: rems(14px);
      line-height: 1.2;
    }
  }

  .js-blog-news-body-wrapper {
    & > h3 {
      margin-bottom: rems(4px) !important;
    }

    & > h3 > a {
      display: inline-block;
      text-decoration: underline;

      &:link,
      &:visited {
        color: $color-text;
      }
    }

    & > h3 > a > span {
      @include font-family(base, medium);
    }
  }
}

.blog-card {
  @extend %blog-reboot;

  .blog_list {
    & > div {
      padding: rems(20px) rems(20px);
      background-color: white;
    }
    .blog_photo {
      margin-bottom: 20px;

      & > a {
        @include aspect-ratio(4, 3);

        & > img {
          object-fit: cover;
        }
      }
    }

    .blog_date {
      color: $color-accent;
      font-size: rems(14px);
      @include font-family(main, medium);
    }

    .blog_text {
      & > h3 {
        margin-bottom: rems(15px);

        & > a {
          &:link,
          &:visited {
            color: $color-main;
          }
        }
      }
      .detail {
        font-size: rems(14px);
      }
    }
  }
}
