@use "../forward" as *;

%dl-reboot {
  @at-root &.form_wrap {
    > dl {
      &:last-child {
        > dt,
        > dd {
          border-bottom: none;
        }
      }
    }

    > dl > dt,
    > dl > dd {
      padding: 0;
      background-color: transparent;
      border: none;
    }

    > dl > dt {
      justify-content: flex-start;
    }
  }
}

// 会社概要
.form_wrap.dl {
  @extend %dl-reboot;

  & > dl {
    margin-bottom: rems(18px);
    padding-right: rems(10px);
    padding-bottom: rems(19px);
    padding-left: rems(10px);
    border-bottom: 1px dotted $color-border;

    @include media-max(sp) {
      display: block !important;
    }

    &:first-child {
      padding-top: rems(19px);
      border-top: 1px dotted $color-border;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  & > dl > dt,
  & > dl > dd {
    font-size: rems(16px);

    @include media-max(sp) {
      width: 100% !important;
    }
  }

  & > dl > dt {
    display: block;
    margin-right: rems(10px);
    @include font-family(base, medium);

    @include media-max(sp) {
      margin-right: 0;
      margin-bottom: rems(7px);
      text-align: left;
    }
  }
}

// 新着情報
.form_wrap.dl-news {
  @extend %dl-reboot;
  max-height: rems(320px);
  overflow-y: auto;
  @include scroll-bar;

  & > dl {
    margin-bottom: rems(25px);
    padding-bottom: rems(25px);
    border-bottom: 1px dotted $color-border;

    @include media-max(tab) {
      display: block !important;
    }

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: 0;
    }
  }

  & > dl > dt {
    flex: 0 0 auto;
    margin-top: rems(5px);
    margin-right: rems(21px);
    color: $color-main;
    @include font-family(main, bold);
    font-size: rems(16px);
    line-height: 1;

    @include media-max(tab) {
      width: auto !important;
      margin-top: 0;
      margin-right: 0;
      margin-bottom: rems(6px);
    }
  }

  & > dl > dd {
    flex: 1 0 0;
    font-size: rems(16px);
    line-height: div(25.6, 16);

    @include media-max(tab) {
      width: 100% !important;
    }
  }
}

// 枠線付きのDLリスト
.form_wrap.dl-cell {
  @extend %dl-reboot;

  & > dl {
    border: 1px solid $color-border;
    border-bottom: none;

    @include media-max(sp) {
      display: block;
    }

    &:last-child {
      border-bottom: 1px solid $color-border;
    }

    & > dt {
      padding: 1.1em 1em 1em;
      background-color: $color-grey-light;
      border-right: 1px solid $color-border;
      line-height: 1.2;

      @include media-max(sp) {
        width: 100% !important;
        border-right: none;
        border-bottom: 1px solid $color-border !important;
      }
    }

    & > dd {
      padding: 0.9em 1em 1em;

      @include media-max(sp) {
        width: 100% !important;
      }
    }
  }
}

// 料金表メニュー
.form_wrap.dl-menu {
  @extend %dl-reboot;

  & > dl {
    flex-direction: row !important;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rems(15px);
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 50%;
      z-index: 0;
      width: 100%;
      border-bottom: 1px solid $color-main-light;
    }
  }

  & > dl > dt,
  & > dl > dd {
    width: auto !important;
    background-color: white !important;
    z-index: 1;
  }

  & > dl > dt {
    margin-right: rems(20px);
    padding-right: rems(10px) !important;
    text-align: left;
  }

  & > dl > dd {
    padding-left: rems(12px) !important;
    text-align: right;
  }
}
