@use "../forward" as *;

@mixin border {
  border: 1px solid $color-border;
  border-radius: rems(3px);
  @content;
}

%form-reboot {
  select,
  input,
  textarea,
  .drop {
    padding: em(8px, 16px) em(10px, 16px);
    @include border();
  }

  & > dl {
    &:last-of-type > dt,
    &:last-of-type > dd {
      border: none;
    }

    & > dt,
    & > dd {
      padding: 0;
      background-color: transparent;
      border: none;
    }

    & > dt {
      flex-direction: row;
      justify-content: flex-start;
      background-color: transparent;

      & > label {
        font-size: rems(10px);
        color: $color-warn;
      }
    }

    & > dd {
      &:not(.date, .addr, .email, .drop) {
        // 注釈
        & > div {
          margin-top: rems(6px);
        }
      }

      & > input {
        font-size: rems(16px);
      }

      // 注釈
      & > div {
        font-size: rems(14px);
        line-height: 1.2;
      }
    }
  }

  .date,
  .addr,
  .email {
    & > div {
      margin-bottom: rems(10px);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  .date {
    .date {
      display: flex;

      & > div {
        display: inline-flex;
        align-items: center;
        margin-right: rems(10px);
        float: none;

        &:last-of-type {
          width: 100%;
          margin-right: 0;

          & > select {
            margin-bottom: 0;
          }
        }

        & > input,
        & > select {
          width: 0 !important;
          min-width: rems(75px);
          max-height: rems(42px);
        }

        & > input {
          margin-bottom: 0;
          font-size: rems(16px);
          text-align: left;
          @include border;
        }

        & > select {
          margin-bottom: 0;
          font-size: rems(16px);
        }

        & > span {
          margin-right: 0;
          margin-left: rems(5px);
          font-size: rems(16px);
          line-height: 1;
        }
      }
    }
  }

  .select {
    .select {
    }
  }

  .email {
    .email {
      & > div {
        margin-bottom: rems(10px);

        &:last-of-type {
          margin-bottom: 0;
        }

        & > input {
          margin-bottom: 0;
          font-size: rems(16px);
        }
      }
    }
  }

  .addr {
    .addr {
      & > div {
        &:first-child {
          align-items: center;

          & > input {
            width: auto !important;
            min-width: max-content;
          }
        }

        &:nth-child(2) {
          & > select {
            margin-bottom: 0;
          }
        }

        & > span {
          margin-right: rems(10px);
          line-height: 1;
        }

        & > input {
          margin-bottom: 0;
          font-size: rems(16px);
        }

        & > select {
          font-size: rems(16px);
        }
      }
    }
  }

  .number {
    .number {
      & > input {
        width: 0 !important;
        min-width: rems(75px);
        max-height: rems(42px);
        font-size: rems(16px);
      }
    }
  }

  .radio,
  .checkbox {
    & > label {
      display: inline-flex;
      align-items: center;
      min-width: 0;
      margin-right: rems(30px);
      margin-bottom: rems(10px);

      &:last-of-type {
        margin-right: 0;
      }

      & > input {
        margin: 0;
        margin-right: rems(5px);
      }
    }
  }

  .textarea {
    .textarea {
      & > textarea {
        min-height: rems(100px);
        font-size: rems(16px);
      }
    }
  }

  .file {
    border-top: none !important;
    border-bottom: none !important;

    .file {
      & > label {
        top: -37px;
      }
    }

    & > dt {
      display: flex !important;
      margin-bottom: rems(10px);
      padding-top: 0 !important;
      background: transparent !important;
      font-size: rems(16px);
    }

    & > dd {
      & > label {
        right: 0;
      }
    }

    .drop {
      margin-bottom: 0;
      background-size: auto rems(80px);
      background-position: center 20%;

      & > span {
        margin-right: 0;
        margin-bottom: rems(22px);
        padding: 0;
        font-size: rems(16px);
        line-height: 1 !important;
      }
    }
  }

  .photo {
    & > dt {
      background: transparent;
    }
  }
}

.form.form_wrap {
  @extend %form-reboot;

  & > dl {
    margin-bottom: rems(18px);
    padding-bottom: rems(18px);
    border-bottom: 1px dotted $color-border;

    &:last-child {
      margin-bottom: 0;
      padding-bottom: 0;
      border-bottom: none;
    }

    & > dt {
      margin-right: rems(20px);
      margin-bottom: rems(10px);
      @include font-family(base, medium);

      @include media-max(sp) {
        margin-right: 0;
      }
    }
  }
}

// カレンダー
div#form_calendar {
  margin: 0;

  div.head {
    height: auto;
    margin-bottom: rems(20px);

    & > span {
      @include font-family(base, medium);
      line-height: 1;

      &:not(:nth-of-type(3)) {
        top: 50%;
        transform: translate(0, -50%);
      }

      // MONTH
      &:nth-of-type(3) {
        display: block;
        font-size: rems(20px);
        position: static;
        transform: unset;
      }

      // YEAR, MONTH:ENGLISH
      &:nth-of-type(2),
      &:nth-of-type(4) {
        font-size: rems(12px);
      }

      &:nth-of-type(4) {
        display: none;
      }
    }
  }

  .prev,
  .next {
    width: auto !important;
    color: $color-main;
    font-size: rems(14px) !important;
  }

  table {
    // 曜日

    & > thead {
      & > tr {
        & > th {
          font-size: rems(12px);
          font-weight: 500;
        }
      }
    }

    // ボディ
    & > tbody {
      background-color: white;

      & > tr {
        & > td {
          &:first-of-type {
            background: unset;
          }

          &.past {
            background: unset;
          }

          &.open,
          &.close {
            display: none !important;
          }

          &.close {
            background-color: $color-form-calendar-close-bg;
            position: relative;
            z-index: 0;

            &::after {
              content: "休";
              font-size: rems(11px);
              line-height: 1;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 1;
            }
          }

          &.other {
            background-color: $color-form-calendar-other-bg;
          }

          & > label {
            font-size: rems(10px) !important;
            font-weight: 500 !important;
          }
        }
      }
    }
  }

  & > dl {
    &.open,
    &.close {
      display: none !important;
    }
  }
}
