@use "../forward" as *;

%sns-reboot {
  .sns_list {
    border: none;

    &__list {
      display: block;
      border-bottom: none;
      border: none;
    }

    & > div {
      border-bottom: none;
    }

    .sns_photo {
      width: 100%;
      padding: 0;

      a {
        display: block;
      }
    }

    .sns_text {
      width: 100%;
      padding: 0;
      font-size: rems(16px);

      .caption {
        word-break: break-all;
      }

      ul {
        display: none;
      }
    }
  }
}

// BXIのCSSを打ち消した状態
.sns {
  @extend %sns-reboot;
}

// 画像のみ
.sns-image {
  @extend %sns-reboot;

  .sns_list {
    & > div {
      .sns_photo {
        & > a {
          @include aspect-ratio(1, 1);
        }
      }

      .sns_text {
        display: none;
      }
    }
  }
}

// カード型
.sns-card {
  @extend %sns-reboot;

  .sns_list {
    & > div {
      display: block;
      overflow: hidden;

      .sns_photo {
        margin-bottom: rems(17px);

        & > a {
          @include aspect-ratio(3, 2) {
            & > :first-child {
              width: 100% !important;
              height: 100% !important;
              object-fit: cover;
            }
          }
        }
      }

      .sns_text {
      }

      .sns_date {
        display: block;
        color: $color-main;
        @include font-family(base, regular);
        font-size: rems(16px);
      }

      .caption {
        color: $color-text;
        font-size: rems(16px);
      }
    }
  }
}

// メディア型
.sns-media {
  @extend %sns-reboot;
  max-height: rems(430px);
  overflow-y: auto;
  @include scroll-bar;

  .sns_list {
    & > div {
      align-items: center;
      margin-bottom: rems(20px);
      padding-bottom: rems(20px);
      border-bottom: 1px dashed $color-border;
      overflow: hidden;

      @include media-max(tab) {
        flex-direction: row;
      }

      .sns_photo {
        flex: 0 0 percentage(div(180, 550));
        margin-right: rems(33px);

        @include media-max(tab) {
          margin-right: rems(20px);
        }

        & > a {
          @include aspect-ratio(1, 1) {
            & > :first-child {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }

      .sns_text {
        flex: 1 0 0;
      }

      .sns_date {
        color: $color-accent-deep;
        @include font-family(base, medium);
        font-size: rems(18px);
        line-height: 1;
      }

      .caption {
        margin-top: rems(8px);
        color: $color-text;
        font-size: rems(16px);
      }
    }
  }
}

// snsスライダー
.sns-slick {
  @extend %sns-reboot;

  .sns_list {
    display: block;
    margin-bottom: 0 !important;

    .sns_photo {
      margin-bottom: rems(18px);

      & > a {
        @include aspect-ratio(1, 1);

        & > img {
          object-fit: cover;
        }
      }
    }

    .sns_date {
      display: none;
    }
  }

  &__dots {
    display: flex;
    justify-content: center;
    gap: rems(18px);
    margin-top: rems(10px);

    & > li {
      & > button {
        display: inline-block;
        width: rems(12px);
        height: rems(12px);
        background-color: $color-border;
        border-radius: rems(12px);
        position: relative;
        text-indent: -9999px;
      }
    }

    .slick-active {
      & > button {
        background-color: $color-accent;
      }
    }
  }

  .slick-list {
    display: block;
    overflow: visible !important;
  }

  .slick-slide {
    width: rems(360px);
    margin-right: rems(20px);

    @include media-max(sp) {
      width: auto;
      margin-right: rems(40px);
      margin-left: rems(40px);
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .slick-arrow {
    width: auto;
    color: white;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(0, -175%);
    z-index: 1;

    @include media-max(sp) {
      top: 50%;
      bottom: auto;
      transform: translate(0, -50%);
    }

    i {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      width: rems(34px);
      height: rems(34px);
      font-size: rems(14px);
      border-radius: rems(34px);
      background-color: $color-accent;

      @include media-max(sp) {
        width: rems(40px);
        height: rems(40px);
        font-size: rems(18px);
        border-radius: rems(40px);
      }
    }
  }

  .slick-prev-arrow {
    right: rems(70px);

    @include media-max(sp) {
      right: auto;
      left: rems(-15px);
    }
  }

  .slick-next-arrow {
    @include media-max(sp) {
      right: rems(-15px);
    }
  }
}
