@use "../forward" as *;

// instagram連動

%sns-reboot {
  .sns_list {
    border: none;

    &__list {
      display: block;
      border-bottom: none;
      border: none;
    }

    & > div {
      border-bottom: none;
    }

    .sns_photo {
      width: 100%;
      padding: 0;

      a {
        display: block;
      }
    }

    .sns_text {
      width: 100%;
      padding: 0;
      font-size: rems(16px);

      .caption {
        word-break: break-all;
      }

      ul {
        display: none;
      }
    }
  }
}

// BXIのCSSを打ち消した状態
.sns {
  @extend %sns-reboot;
}

// 画像のみ
.sns-image {
  @extend %sns-reboot;

  .sns_list {
    & > div {
      .sns_photo {
        & > a {
          @include aspect-ratio(1, 1);
        }
      }

      .sns_text {
        display: none;
      }
    }
  }
}

// カード型
.sns-card {
  @extend %sns-reboot;

  .sns_list {
    & > div {
      display: block;
      overflow: hidden;

      .sns_photo {
        & > a {
          @include aspect-ratio(1, 1) {
            & > :first-child {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }

      .sns_text {
        padding: rems(15px) rems(15px) rems(20px);
      }

      .sns_date {
        color: $color-main;
        @include font-family(accent, medium);
        font-size: rems(14px);
      }

      .caption {
        color: $color-main;
        font-size: rems(14px);
      }
    }
  }
}

// メディア型
.sns-media {
  @extend %sns-reboot;
  max-height: rems(430px);
  overflow-y: auto;
  @include scroll-bar;

  .sns_list {
    & > div {
      align-items: center;
      margin-bottom: rems(20px);
      padding-bottom: rems(20px);
      border-bottom: 1px dashed $color-border;
      overflow: hidden;

      @include media-max(tab) {
        flex-direction: row;
      }

      .sns_photo {
        flex: 0 0 percentage(div(180, 550));
        margin-right: rems(33px);

        @include media-max(tab) {
          margin-right: rems(20px);
        }

        & > a {
          @include aspect-ratio(1, 1) {
            & > :first-child {
              width: 100% !important;
              height: 100% !important;
            }
          }
        }
      }

      .sns_text {
        flex: 1 0 0;
      }

      .sns_date {
        color: $color-accent-deep;
        @include font-family(base, medium);
        font-size: rems(18px);
        line-height: 1;
      }

      .caption {
        margin-top: rems(8px);
        color: $color-text;
        font-size: rems(16px);
      }
    }
  }
}

// snsスライダー
.sns-slider {
  @extend %sns-reboot;

  .sns_list {
    display: block;

    .sns_photo {
      margin-bottom: rems(20px);

      & > a {
        @include aspect-ratio(4, 3);
      }

      img {
        object-fit: cover;
      }
    }

    .sns_text {
      .sns_date {
        display: none;
      }
    }
  }

  .slick-list {
    display: block;
  }

  .slick-track {
    display: flex;
  }

  .slick-slide {
    height: auto !important;
    margin-right: rems(20px);
    margin-left: rems(20px);
  }
}
